/* 
=============== DESIGN SETTING ===============

--- TYPOGRAPHY

  Font sizes (px):
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  Font weights:
    default: 400
    medium: 500
    semi-bold: 600
    bold: 700

  Line heights used(default=1):
    subheading: 0.75  
    small: 1.05
    h2: 1.2
    <p>: 1.6

--- SHADOWS
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


--- BORDER-RADIUS
  default: 9px;
  medium: 11px

--- WHITESPACE
  Spacing system:
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
  --primary: #e67e22;
  --primary_tint_1: #fdf2e9;
  --primary-tint_2: #fae5d3;
  --primary_shade_1: #cf711f;
  --grey_light_555: #555;
  --grey_dark_333: #333;
  --white_text_fff: #fff;
  --white_text_ddd: #ddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

html {
  /* font size set to 10px (default font size is 16px -> 10/16=0.625 */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: var(--grey_dark_333);
}

strong {
  font-weight: 500;
}

/* ============================================================== */
/* ========================== REUSABLE ========================== */
/* ============================================================== */
.container {
  /* center */
  max-width: 120rem;
  padding: 0 3.2em;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-vertically {
  align-items: center;
}

/* ============ HEADINGS ============ */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: var(--grey_dark_333);
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary_shade_1);
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* ============ BUTTONS ============ */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* only for btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* make background-color change smoother */
  transition: all 0.3s;
}

/* priamry button */
.btn-primary:link,
.btn-primary:visited {
  background-color: var(--primary);
  color: var(--white_text_fff);
}

.btn-primary:hover,
.btn-primary:active {
  background-color: var(--primary_shade_1);
}

/* secondary button */
.btn-secondary:link,
.btn-secondary:visited {
  background-color: var(--white_text_fff);
  color: var(--grey_light_555);
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: var(--primary_tint_1);

  /* put border inside the element so it doesn't change content*/
  box-shadow: inset 0 0 0 3px var(--white_text_fff);
}

.btn--form {
  background-color: #45260a;
  color: var(--primary_tint_1);
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: var(--grey_light_555);
}

/* ============ LINKS ============ */
.link:link,
.link:visited {
  display: inline-block;
  color: var(--primary);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--primary_shade_1);
  border-bottom: 1px solid transparent;
}

/* ============ LIST ============ */
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--primary);
}

/* ============ MARGINS ============ */

.margin-right-small {
  /* helper class ready to be used on any element */
  margin-right: 1.6rem !important;
}

.margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}
